<ol class="breadcrumb col-sm-12 dark">
    
    <% for (let[key, value] of Object.entries(bcrumb) ) { %>
        <li>
            <a href="<%= value %>">
                <%= key %>
            </a>
        </li>
        <% } %>
</ol>