<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timetable</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="assets/ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url(img/chicago.jpg);
            background-size: auto;
        }

        .jumbotron {
            background-color: #4700b3;
            color: #fff;
            padding: 1px 25px;
            font-family: Montserrat, sans-serif;
        }
        table{
            background-color: #fff;
        }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>MyTimeTable.com</h1>
        <p>We specialize in educational lecture schedule...</p>
    </div>

    <div class="reg">
        <h1>Here is your timetable!</h1>
    </div>
    <br>   
        <div class="container">
            <table>
                <tr>
                    <th></th>
                    <th>8:20-9:00</th>
                    <th>9:00-9:40</th>
                    <th>9:40-10:20</th>
                    <th>10:20-10:30</th>
                    <th>10:30-11:10</th>
                    <th>11:10-11:50</th>
                    <th>11:50-12:30</th>
                    <th>12:30-1:00</th>
                    <th>1:00-1:40</th>
                    <th>1:40-2:20</th>
                </tr>
                <tr>
                    <th>MONDAY</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>TUESDAY</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>WEDNESDAY</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>THURSDAY</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>FRIDAY</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    <br>
    <div class="container">
        <div class="col-sm-2"><button type="button" class="btn btn-primary btn-block"><span class="fa fa-print"></span> Print Page</button></div>
        <div class="col-sm-2"><button type="button" class="btn btn-primary btn-block"><span class="fa fa-file-pdf-o"></span> Print PDF</button></div>
    </div>
    
    
</body>
</html>