<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="/assets/ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            background-color: #4700b3;
            z-index: 9999;
            border: 0;
            font-size: 12px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

        .navbar li a,
        .navbar .navbar-brand {
            color: #fff !important;
        }

        .navbar-nav li a:hover,
        .navbar-nav li.active a {
            color: #4700b3 !important;
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }

        .modal {
            text-align: center;
            padding: 0!important;
        }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
        /* On small screens, set height to 'auto' for the grid */

        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
            #popUp {
                position: absolute;
                margin: 0 30%;
                margin-top: -70%;
            }
        }

        @media screen and (max-width: 480px) {
            #popUp {
                position: absolute;
                margin: 0 60%;
                margin-top: -120%;
            }
        }

        .logo-small {
            color: #4700b3;
            font-size: 50px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body id="myPage">
    <% include ./partials/navbar %>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row content">
            <%- include('./partials/sidebar', {activeNav: 'timetable'}); %>
            <div class="col-sm-12 col-lg-9">
                <form action="/dashboard/createTimeTable" method="post">
                    <div class="container-fluid">
                        <h2>TimeTable Work Space</h2>
                        <p>Create your table by simply clicking the empty cells:</p>

                        <div class="container-fluid">
                            <% if (classes.length < 1) { %>
                                <h2>No Class in DB</h2>
                            <% } else if(subjects.length < 1) { %>
                                <h2>No Subject in DB</h2>
                            <%  } else { %>
                                <% include ./partials/timetablepage %>
                            <%  } %>
                        </div>
                    </div><br>

                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select a subject</h4>
                </div>
                <div class="modal-body">
                    <form action="#" method="get">
                        <input type="hidden" name="subjectValue" id="subjectValue">
                        <select class="form-control input-sm" id="sel1" onchange=handleSubjectSelect(this)>
                        <% for (let i = 0; i < subjects.length; i++)  {  %>
                            <option value="<%= subjects[i].name %>"><%= subjects[i].name %></option>
                        <% } %>
                        </select>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <br><br>

    <script>
        $('#myModal').on('show.bs.modal', function (e) {
            var $invoker = $(e.relatedTarget);
            debugger;
        });
    </script>
    <script src="/js/script.js"></script>
</body>

</html>